.dashboard{
    width: 98%;
    padding-left: 11%;
    background-color: #D1EEEE;
}

.dashboard-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 4%;
}

.dashboard-title p{
    font-size: 25px;
    color: rgba(0, 0, 0, .7);
}

.search-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #21BABA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}

.search-icon img{
    width: 15px;
}

.dashboard-headers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 4%;
    gap: 50px;
}

.dashboard-header{
    flex: 1;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(to right , #008080, #21BABA);
    gap: 5px;
    color: white;
    height: 130px;
}

.header-title{
    font-size: 20px;
}

.header-amount{
    font-size: 35px;
}

.header-progressbar{
    display: flex;
    align-items: center;
    width: 100%;
}

.progressbar-container{
    background-color: rgb(50, 50, 50);
    width: 80%;
    border-radius: 15px;
}

.skill{
    background: linear-gradient(to right, rgb(50, 50,50), white);
    padding: 5px;
    border-radius: 15px;
    width: 80%;
}

.progressbar-amount{
    font-size: 15px;
    margin-left: 20px;
    text-align: center;
}