.profile-container{
    width: 100%;
    height: 100%;
    padding: 40px 80px;
}

.profile-container header{
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-container .header-text{
    font-size: 32px;
    line-height: 30px;
    flex: 7;
    font-weight: 600;
    color: var(--title-color);
}


.profile-container .header-text span{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.profile-container .header-search{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    background: var(--body-color);
    height: 50px;
    border-radius: 6px;
    padding: 10px 20px;
    gap: 10px;
    color: var(--text-color);
    transition: var(--tran-05);
}


.header-search i{
    font-size: 25px;
}

.header-search input{
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: var(--text-color);

}

.profile-container .header-bell{
    flex: 1;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bell i{
    font-size: 25px;
    background: var(--body-color);
    padding: 10px;
    border-radius: 50%;
    transition: var(--tran-05);

}

.profile-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.profile-info-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    color: var(--text-color);
    font-size: 16px;
    transition: var(--tran-05);
}
.name{
    color: var(--title-color);
    font-size: 32px;
    font-weight: 500;
    transition: var(--tran-05);
}

.profile-info-main img{
    width: 200px;
    margin-bottom: 10px;
}

.profile-info{
    width: 100%;
    background: var(--body-color);
    padding: 50px 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    border-radius: 20px;
    transition: var(--tran-05);
}

.profile-options{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: var(--tran-05);

}

.profile-option{
    transition: var(--tran-04);
    padding: 15px 20px;
    outline: none;
    background: var(--primary-color-light);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: var(--text-color);
}

.profile-option-active{
    transition: var(--tran-05);
    background: var(--primary-color-gradient);
    color: white;
}
