.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 4% ;
    background-color: white;
    margin-bottom: 15px;
}

.navbar-left{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
    flex: 1;
}

.logo {
    width:180px;
    padding: 10px;
}

.seperator{
    height: 60px;
    width: 2px;
    border: 1px solid #008080;
    background-color: #008080;
}

.navbar-left p{
    font-size: 30px;
    font-weight: 600;
}

.navbar-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.navbar-right .profile-icon{
    width: 50px;
}

.navbar-bell-icon{
    position: relative;
}

.navbar-bell-icon .bell-icon{
    width: 25px;

}

.navbar-bell-icon .dot{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    top: -5px;
    right: -2px;
    color: white;
    font-size: 12px;
    text-align: center;
}

.profile-info{
    text-align: end;
}

.profile-info span{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.profile-info p{
    font-size: 20px;
    font-weight: 500;
}