.attendance-container {
  width: 100%;
  height: 100%;
  padding: 40px 80px;
}

.attendance-container header {
  display: flex;
  align-items: center;
  width: 100%;
}

.attendance-container .header-text {
  font-size: 32px;
  line-height: 30px;
  flex: 7;
  font-weight: 600;
  color: var(--title-color);
}

.attendance-container .header-text span {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.attendance-container .header-search {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  background: var(--body-color);
  height: 50px;
  border-radius: 6px;
  padding: 10px 20px;
  gap: 10px;
  color: var(--text-color);
  transition: var(--tran-05);
}

.header-search i {
  font-size: 25px;
}

.header-search input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: var(--text-color);
}

.attendance-container .header-bell {
  flex: 1;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bell i {
  font-size: 25px;
  background: var(--body-color);
  padding: 10px;
  border-radius: 50%;
  transition: var(--tran-05);
}

.attendance-body {
  margin-top: 40px;
  width: 100%;
  padding: 50px 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  background: var(--body-color);
  transition: var(--tran-05);
  border-radius: 10px;
}

.attendance-element {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-light);
  padding: 20px;
  border-radius: 10px;
  transition: var(--tran-05);
}

.attendance-chart {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
}

.attendance-summary {
  grid-area: 1 / 2 / 2 / 4;
}

.sub-attendance-summary{
  grid-area: 2 / 1 / 3 / 4;
}


.chart-container{
  margin-top: 20px;
  width: 100%;
  height:200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attendance-summary-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
  height: 100%;
  gap: 10px;
}

.attendance-summary-content li {
  background-color: var(--body-color);
  padding: 50px 0px 20px;
  flex: 1;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  transition: var(--tran-05);
}

.attendance-summary-content li i {
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  transition: var(--tran-05);
}

.attendance-label {
  margin-top: 10px;
  font-size: 16px;
  color: var(--text-color);
  transition: var(--tran-05);
}

.attendance-amount {
  margin-top: 5px;
  font-size: 24px;
  font-weight: 500;
  transition: var(--tran-05);
}

.present i {
  color: #4a90e2;
  background: #90caf94f;
}

.present .attendance-amount{
  color: #4a90e2;

}

.absent i{
  color: #ff6867;
  background: #ff94945e;
}

.absent .attendance-amount{
  color: #ff6867;
}

.leave i{
  color: #34c75a;
  background: #6dc9856b;
}

.leave .attendance-amount{
  color: #34c75a;
}

.holiday i{
  color: #9d9fa0;
  background: #87898a3f;
}

.holiday .attendance-amount{
  color: #9d9fa0;
}



.attendance-table{
  margin: 20px;
  border-collapse: collapse;

}

.attendance-table tr{
  border: 1px solid var(--body-color);
  transition: var(--tran-05);
}

.attendance-table th{
  font-size: 18px;
  color: var(--title-color);
  padding: 20px;
  text-align: left;
  transition: var(--tran-04);

}

.attendance-table td{
  font-size: 18px;
  color: var(--text-color);
  padding:  20px;
  transition: var(--tran-04);

}