@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}


.app{
  background-color: var(--primary-color-light);
  height: 100vh;
  transition: var(--tran-05);
}


:root{
  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #3071d8;
  --primary-color-gradient: linear-gradient(to bottom ,#3071d8, #6a96ec);
  --toggle-color: #DDD;
  --primary-color-light: #F6F5FF;
  --text-color: #707070;
  --title-color: #3C3C3C;

  --tran-02: all 0.2s ease ;
  --tran-03: all 0.3s ease ;
  --tran-04: all 0.4s ease ;
  --tran-05: all 0.5s ease ;
}


.dark {
  --body-color: #18191A;
  --sidebar-color: #242526;
  --primary-color: #3A3B3C;
  --primary-color-gradient: linear-gradient(to bottom ,#3A3B3C, #4a4b4d);
  --toggle-color: #FFF;
  --primary-color-light: #3A3B3C;
  --text-color: #CCC;
  --title-color: #E6E6E6;
}

@keyframes textFade {
  0% {
    transform: translateX(-1em);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}