/* WeekSchedule.css */
.week-schedule {
    width: 100%;
    padding: 10px 20px;
  }
  
  .week-table {
    margin: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  .week-table tr {
    border: 1px solid var(--body-color);
    transition: var(--tran-05);
    height: 60px;
  }
  
  .week-table th, .week-table td {
    border-right: 1px solid var(--body-color);
    padding: 10px;
    font-size: 18px;
    width: 200px;
    height: 80px;
  }
  
  .week-table th {
    color: var(--title-color);
    text-align: left;
  }
  
  .week-table td {
    color: var(--text-color);
  }
  
  .schedule-element-week {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 20px;
    background-color: var(--body-color);
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .schedule-element-course-code {
    font-size: 20px;
    font-weight: 500;
  }
  
  .schedule-element-time {
    font-size: 16px;
  }
  
  .table-element {
    width: 100%;
    height: 100%;
  }
  