.timetable-container{
    width: 100%;
    height: 100%;
    padding: 40px 80px;
}

.timetable-container header{
    display: flex;
    align-items: center;
    width: 100%;
}

.timetable-container .header-text{
    font-size: 32px;
    line-height: 30px;
    flex: 7;
    font-weight: 600;
    color: var(--title-color);
}


.timetable-container .header-text span{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.timetable-container .header-search{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    background: var(--body-color);
    height: 50px;
    border-radius: 6px;
    padding: 10px 20px;
    gap: 10px;
    color: var(--text-color);
    transition: var(--tran-05);
}


.header-search i{
    font-size: 25px;
}

.header-search input{
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: var(--text-color);

}

.timetable-container .header-bell{
    flex: 1;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bell i{
    font-size: 25px;
    background: var(--body-color);
    padding: 10px;
    border-radius: 50%;
    transition: var(--tran-05);

}

.timetable-body{
margin-top: 40px;
  width: 100%;
  padding: 50px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--body-color);
  transition: var(--tran-05);
  border-radius: 10px;
}

.timetable-element{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--primary-color-light);
    padding: 20px;
    border-radius: 10px;
    transition: var(--tran-05);
}

.schedular-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.schedular-type-options{
    display: flex;
    align-items: center;
    gap: 20px;
}

.schedular-type-options button{
    transition: var(--tran-04);
    padding: 10px 15px;
    outline: none;
    border: 1px solid var(--body-color);
    background-color: var(--primary-color-light);
    font-size: 16px;
    cursor: pointer;
    color: var(--text-color);
}

.schedular-type-options button:hover{
    background-color: var(--body-color);
}
